<table>
  <tr>
    <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
  </tr>
  <tr *ngFor="let row of monthArray">
    <td *ngFor="let day of row">
      <span [attr.title]="day | date: 'fullDate'"
            [style.color]="isCurrentMonth(day) ? 'black' : 'lightgray'"
            (click)="writeToConsole(day)"  >
        {{day | date: 'dd'}}
      </span>
    </td>
  </tr>
</table>
<article *ngIf="times.length > 0">
  <dl>
    <dt>Available Times on {{times[0] | date:'mediumDate'}}</dt>
    <dd *ngFor="let time of times">
      {{time | date: 'shortTime'}}
    </dd>
  </dl>
</article>
