<table>
  <tr>
    <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
  </tr>
  <tr *ngFor="let row of monthArray">
    <td *ngFor="let day of row">
      <span [attr.title]="day | date: 'fullDate'"
            [style.color]="isCurrentMonth(day) ? 'black' : 'lightgray'"
            (click)="writeToConsole(day)"  >
        {{day | date: 'dd'}}
      </span>
    </td>
  </tr>
</table>
<app-time-display [date]="selectedDate" *ngIf="selectedDate"></app-time-display>
