tr > td {
  grid-template-columns: repeat(7, 1fr);
}
table td {
  padding: 0.2em;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
.current_month {
  color: black;
}
.not_current_month {
  color: lightgray;
}
