.cal {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 14em;
}
.header h2 {
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.header {

}
.nav_bar button {
  flex: 1 auto;
  margin: 5px;
}
.cal_main app-month {
  flex: 1 auto;
}
.cal_main {

}
